<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
<!--
<extension
      point="org.eclipse.ui.commands">
   <command
         name="GenerateDiagram"
         id="net.samsarasoftware.papyrus.diagramtemplate.runtime.DiagramTemplateLauncher"
      	defaultHandler="net.samsarasoftware.papyrus.diagramtemplate.runtime.DiagramTemplateLauncher">
      	
   </command>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="true"
         locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?">
      <menu
               id="GenerateDiagram"
               label="GenerateDiagram">
            <command  commandId="net.samsarasoftware.papyrus.diagramtemplate.runtime.DiagramTemplateLauncher"
            label="GenerateDiagram1"
            style="push"
            >
      </command>
            </menu>
   </menuContribution>
</extension>
-->
<!--
   <extension point="org.eclipse.uml2.uml.dynamic_package">
		<profile
			uri="http://www.samsarasoftware.net/modelview.profile"
			location="platform:/plugin/com.samsarasoftware.metamodels/profiles/modelview.profile.uml#_NPYckDJ8EeuNR60Z_jZTgw">
      </profile>
   </extension> -->
   <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
		<profile
			name="modelview"
			uri="http://www.samsarasoftware.net/modelview.profile"
			path="platform:/plugin/com.samsarasoftware.metamodels/profiles/modelview.profile.uml#_NPYckDJ8EeuNR60Z_jZTgw">
      </profile>
   </extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
   	<package 
   		uri = "http://www.samsarasoftware.net/modelview.ecore"
   		class = "modelview.modelviewPackage"
   		genModel="profiles/modelview.genmodel"   	/>
   </extension>
</plugin>
